@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navbar-height: 60px;
    --section-min-height: calc(100vh - var(--navbar-height));
    --content-max-width: 1300px;
    --content-margin: 0.5rem;

    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 109.09deg 38.82% 10.67%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 20.1%;
    --input: 12 6.5% 55.1%;
    --ring: 24 5.7% 82.9%;

    --radius: 0.25rem;
  }
}

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border;
    text-wrap: balance;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  #carousel_wrapper {
    --amount-of-tattoos_in-vertical-view: 2;
    --amount-of-tattoos-in-horizontal-view: 3;
    --amount-of-tattoos: 24;
    /* En realidad hay 27, pero esta es la forma más simple de hacer que no se vea el borde inferior */
    --tattoo-width: 300px;
    --tattoo-height: 280px;
    --padding: 10px;
    --initial-offset: 250px;
    --end-offset: 250px;

    --amount-of-tattoos-by-half: calc(
      var(--amount-of-tattoos) / var(--amount-of-tattoos-in-horizontal-view)
    );

    --total-vertical-padding: calc(
      var(--padding) *
        (
          var(--amount-of-tattoos) / var(--amount-of-tattoos-in-horizontal-view) -
            1
        )
    );
  }

  /* 30 / 3 = 10 - 1 = 9 * 10px = 90px
  */

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(
        calc(
          (
              (
                (var(--amount-of-tattoos-by-half) * var(--tattoo-height)) +
                  var(--total-vertical-padding) -
                  (var(--tattoo-height) * 2 + var(--padding))
              )
            ) * -1
        )
      );
    }
  }

  /* 
    height: (15 * 250px + 90) = 3840
  */

  #carousel {
    height: calc(
      (
        (var(--amount-of-tattoos-by-half) * var(--tattoo-height)) +
          var(--total-vertical-padding)
      )
    );
    animation: scroll 17s linear infinite;
    gap: var(--padding);
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #carousel:has(> a:hover) {
    animation-play-state: paused;
  }
}

.react_modal_background {
  padding: 0.5rem 0;
}
